<!DOCTYPE html>
<html lang="en">
	<head>
		<title>An Pixel Image</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<table>
			<tr>
				<td>Mandelbrot example</td>
				<td>
					Iterations:&nbsp;<button ng-click="s.decMax()">-</button>{{s.max}}<button ng-click="s.incMax()">+</button><br/>
					Resolution: &nbsp;{{s.step}}<br/>
				</td>
			</tr>
			<tr>
				<td>
					xStart: {{s.xStart}}<br/>
					xEnd: {{s.xEnd}}
				</td>
				<td>
					yStart:&nbsp;{{s.yStart}}<br/>
					yEnd: &nbsp;{{s.yEnd}}<br/>
				</td>
			</tr>
		</table>
		
		
		<canvas id="myCanvas"></canvas>
		<script src="../jspm_packages/system.src.js"></script>
		<script src="../jspm.config.js"></script>
		<script>System.import('./main.js');</script>
	</body>
</html>
