<!DOCTYPE html>
<html lang="en">
	<head>
		<title>An Pixel Image</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<table>
			<tr>
				<td><h1>Mandelbrot example</h1></td>
				<td>
					<input type="number" ng-model="s.max" ng-model-options="{debounce: 500 }"/><br/>
					<input type="number" ng-model="s.step" ng-model-options="{debounce: 500 }" /><br/>
				</td>
			</tr>
		</table>
		
		
		<canvas id="myCanvas" width="{{s.width}}" height="{{s.height}}"></canvas>
		<script src="../jspm_packages/system.src.js"></script>
		<script src="../jspm.config.js"></script>
		<script>System.import('./main.js');</script>
	</body>
</html>
